.form {
    background: #fff;
    width: 250px;
    border-radius: 10px;
    padding: 0;
}

div,
p {
    padding: 0 5px;    
}

.header{
    color: #fff;
    background: #ff8663;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    font-size: 11px;
}

.body {
    padding: 5px;
    height: 80px;
    overflow: auto;
}

.title{
    color: #ff8663;
    padding: 11px 5px;
    margin: 0;
}

form input, .form textarea {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 2px 10px;
    margin: 5px 0;
    width: 90%;
}

.button {
    text-align: right;
    margin-right: 10px;
    padding: 0 5px;

    padding-bottom: 10px;
}

.form button {
    padding: 0 5px;

    border-radius: 10px;
    box-shadow: none;
    color: #fff;
    background: #ff8663;
    border: none; 
}

.ymaps-2-1-74-balloon {
    box-shadow: none!important;
}

.ymaps-2-1-74-balloon__content {
    background: transparent;
}

.ymaps-2-1-74-balloon__layout {
    background: transparent;
}

.ymaps-2-1-74-balloon__close+.ymaps-2-1-74-balloon__content {
    padding: 0 !important;
    margin: 0 !important; 
}